genome1=group1.fa.gz
genome2=
use_ancestral=1
mixture_prop_par1=0.1
rec_rate_Morgans_kb=0.0000667
num_indivs=51
gens_since_admixture=50
chr_to_simulate=1
poly_perbp_par1=0.0032
poly_perbp_par2=0.0032
rate_shared_poly_at_aims=0.0001
read_type=PE
read_length=150
per_bp_indels=0
sequencing_error=0.005
number_reads=43333
cross_contam=
parental_drift=1
macs_par1_aims_pop=3
macs_par2_aims_pop=4
aim_freq_cutoff=0.95
job_submit_cmd=sbatch
use_macs=1
use_map=0
SELAM_param_file=
SELAM_selection_file=
macs_params=4 10000000 -I 4 1 1 1 1 0 -t 0.0032 -h 1e2 -r 0.0032 -ej %DRIFT1% 3 1 -ej %DRIFT2% 4 2 -ej 2.1875 2 1
program_path=/public4/software/mixnmatch/mixnmatch
par1_for_aims=1
par2_for_aims=1
seq_params=
job_header=#!/bin/sh #SBATCH --ntasks=1 #SBATCH --cpus-per-task=1 --mem=50G #SBATCH -p blade,gpu #SBATCH --time=10:00:00
num_indiv_per_job=1

